/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.text-variant-1 {
  font-size: 1rem; }

.text-variant-1-5 {
  font-size: 1.5rem; }

.text-variant-2 {
  font-size: 2rem; }

.text-white {
  color: #fff; }

.text-variant-bold {
  font-weight: bold; }

html, body {
  font-family: sans-serif;
  height: 100%; }

body {
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid #ccc; }

main {
  background-color: #0F2438;
  background-image: url("../assets/header-2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: -86px;
  text-align: center;
  padding-top: 230px;
  padding-bottom: 150px;
  overflow: hidden; }
  main h1 {
    font-weight: normal; }

.main-title {
  display: block;
  text-align: center;
  padding: 50px 0;
  color: #0F2438; }

footer {
  background-color: #fff;
  color: #656565;
  padding-top: 50px;
  margin-bottom: 150px;
  z-index: 1;
  position: relative;
  text-align: center; }
  footer:before {
    transform: skewY(-10deg);
    transform-origin: 100% 0;
    content: "";
    display: block;
    height: 110%;
    top: -160px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    background: #fff; }
  footer .container {
    display: flex;
    flex-direction: row; }
  footer .box {
    width: 50%;
    height: 250px; }
    footer .box .box-content {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      footer .box .box-content.img-banner {
        align-items: flex-end; }
  footer a, footer a:visited, footer p {
    text-decoration-style: initial;
    text-decoration: none !important;
    text-transform: none;
    text-decoration-color: #0F2438; }

.img-banner {
  background-image: url("../assets/pic.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -65px;
  transition: all .2s ease;
  transform: scale(1); }
  @media (max-width: 767px) {
    .img-banner {
      background-position-y: 0; } }
  .img-banner:hover {
    transform: scale(1.1); }
  .img-banner p {
    color: #d79d00;
    text-align: center;
    text-shadow: 1px 1px 0px #151515;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2em; }

.alt-color, main {
  color: #d79d00; }

.date {
  color: #fff;
  overflow: hidden; }
  .date:after, .date:before {
    content: "";
    height: 1px;
    display: inline-block;
    background-color: #fff;
    position: relative;
    vertical-align: middle;
    width: 25%; }
  .date:before {
    right: 2.5em;
    margin-left: -50%; }
  .date:after {
    left: 2.5em;
    margin-right: -50%; }

.container-hotels {
  justify-content: center;
  background-color: #eee; }

.hotel-box {
  text-align: center; }
  .hotel-box dl, .hotel-box dt, .hotel-box dd {
    margin-inline-start: 0;
    margin-inline-end: 0; }
  .hotel-box dt {
    margin-bottom: 10px; }
  .hotel-box dd {
    margin-bottom: 20px; }
  .hotel-box a {
    color: #1f4b74; }
    .hotel-box a, .hotel-box a:visited {
      text-decoration: none; }

.sun {
  margin-top: 50px;
  background-image: url("../assets/sun.png");
  background-repeat: no-repeat;
  height: 100px;
  background-size: contain;
  width: 100%;
  background-position: 50% 0; }
