@import "normalize";
@import "variables";
@import "responsive";
@import "utils";

html, body {
  font-family: $font;
  height: 100%;
}


body {
  max-width: $main-width-max;
  margin: 0 auto;
  border: 1px solid $main-border-color;
}

$header-img: url('../assets/header-2.png');
$header-height: 230px;
$spacing: 150px;

main {
  background-color: $main-2;
  background-image: $header-img;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: -86px;
  text-align: center;
  padding-top: $header-height;
  padding-bottom: $spacing;
  overflow: hidden;
  @extend .alt-color;

  h1 {
    font-weight: normal;
  }
}


$main-title-padding: 50px 0;
.main-title {
  display: block;
  text-align: center;
  padding: $main-title-padding;
  color: $main-2;
}

footer {
  background-color: #fff;
  color: $footer-color;
  padding-top: $spacing / 3;
  @include phone {
    padding-top: 0;
  }
  margin-bottom: $spacing;
  z-index: 1;
  position: relative;
  text-align: center;

  &:before {
    transform: skewY(-10deg);
    transform-origin: 100% 0;
    content: "";
    display: block;
    height: 110%;
    top: -$spacing - 10px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    background: #fff;
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  .box {
    width: 50%;
    height: 250px;

    .box-content {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &.img-banner {
        align-items: flex-end;
      }


    }
  }


  a, a:visited, p {
    text-decoration-style: initial;
    text-decoration: none !important;
    text-transform: none;
    text-decoration-color: $main-2;
  }

}


$banner-img: url('../assets/pic.jpg');
$banner-size: 100px;
$banner-offset: -65px;
.img-banner {
  background-image: url('../assets/pic.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: $banner-offset;

  transition: all .2s ease;
  transform: scale(1);

  @include phone {
    background-position-y: 0;
  }

  &:hover {
    transform: scale(1.1);
  }

  p {
    //color: $main-2;
    color: $text-color-main;
    text-align: center;
    text-shadow: 1px 1px 0px #151515;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2em;

  }
}


.alt-color {
  color: $text-color-main;
}

// DATE
.date {
  $date-color: #fff;
  $line-width: 25%;
  $line-offset: 2.5em;

  color: $date-color;
  overflow: hidden;

  &:after, &:before {
    content: "";
    height: 1px;
    display: inline-block;
    background-color: $date-color;
    position: relative;
    vertical-align: middle;
    width: $line-width;
  }

  &:before {
    right: $line-offset;
    margin-left: -50%;
  }

  &:after {
    left: $line-offset;
    margin-right: -50%;
  }
}

.container-hotels {
  justify-content: center;
  background-color: #eee;
}

.hotel-box {

  text-align: center;


  dl, dt, dd {
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  dt {
    margin-bottom: 10px;
  }

  dd {
    margin-bottom: 20px;
  }

  a {
    color: lighten($main-2, 15%);

    &, &:visited {
      text-decoration: none;
    }
  }
}

$sun: url('../assets/sun.png');
.sun {
  margin-top: 50px;
  background-image: $sun;
  background-repeat: no-repeat;
  height: 100px;
  background-size: contain;
  width: 100%;
  background-position: 50% 0;
}

